@page "/employees/edit/{Id:int?}"
@using FuelStation.Model.Enums;
@using FuelStation.Shared;
@inject FuelStation.Shared.LoginState loginState;
@inject HttpClient httpClient
@inject NavigationManager navigationManager

@if (loginState.IsLoggedIn == EmployeeType.Manager) {
    <h3>Employees</h3>
    @if (employee == null) {
        <p>Loading...</p>
    }
    else {
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Name</label>
                <input class="form-control" @bind="@employee.Name" />
            </div>
            <div class=" col-md-6">
                <label class="form-label">Surname</label>
                <input class="form-control" @bind="@employee.Surname" />
            </div>
            <div class=" col-md-6">
                <label class="form-label">Hire Date</label>
                <input class="form-control" @bind="@employee.HireDateStart" />
            </div>
            <div class=" col-md-6">
                <label class="form-label">Termination Date</label>
                <input class="form-control" @bind="@employee.HireDateEnd" />
            </div>
            <div class=" col-md-6">
                <label class="form-label">Salary</label>
                <input class="form-control" @bind="@employee.SalaryPerMonth" />
            </div>
            <div class=" col-md-6">
                <label class="form-label">Role</label>
                <input class="form-control" @bind="@employee.Type" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <button class="btn btn-success" @onclick="OnSave">Save</button>
                <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
            </div>
        </div>
    }
}
else {
    <p>Access Unauthorized!</p>
}

@code {
    [Parameter] public int? Id { get; set; }
    EmployeeDto employee { get; set; }


    protected override async Task OnInitializedAsync() {
        if (Id == null) {
            employee = new();
        }
        else {
            employee = await httpClient.GetFromJsonAsync<EmployeeDto>($"api/employee/{Id}");
        }

    }

    private void OnCancel() {
        navigationManager.NavigateTo("employees");
    }

    private async Task OnSave() {
        HttpResponseMessage? response = null;
        
        if (Id == null) {
            response = await httpClient.PostAsJsonAsync("api/employee", employee);

        }
        else {
            response = await httpClient.PutAsJsonAsync("api/employee", employee);

        }
        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("employees");
    }

}

