@page "/employees/edit/{Id:int?}"
@using FuelStation.Model.Enums;
@using FuelStation.Shared;
@inject FuelStation.Shared.LoginState loginState;
@inject HttpClient httpClient
@inject NavigationManager navigationManager

@if (loginState.IsLoggedIn == EmployeeType.Manager) {
    <h3>Employees</h3>
    @if (employee == null) {
        <p>Loading...</p>
    }
    else {
        <EditForm Model="employee" OnValidSubmit="OnSave">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Name:</label>
                    <InputText class="form-control" @bind-Value="@employee.Name" />
                </div>
                <div class=" col-md-6">
                    <label class="form-label">Surname:</label>
                    <InputText class="form-control" @bind-Value="@employee.Surname" />
                </div>
                <div class=" col-md-6">
                    <label class="form-label">Hire Date:</label>
                    <InputDate class="form-control" @bind-Value="@employee.HireDateStart" />
                </div>
                <div class=" col-md-6">
                    <label class="form-label">Termination Date:</label>
                    <InputDate class="form-control" @bind-Value="@employee.HireDateEnd" />
                </div>
                <div class=" col-md-6">
                    <label class="form-label">Salary:</label>
                    <InputNumber class="form-control" @bind-Value="@employee.SalaryPerMonth" />
                </div>
                <div class=" col-md-6">
                    <label class="form-label">Employee Type:</label>
                    <InputSelect class="form-control" @bind-Value="employee.Type">
                        @foreach (var type in Enum.GetValues<EmployeeType>()) {
                            <option value="@type">@type</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
                </div>
            </div>
        </EditForm>
    }
}
else {
    <p>Access Unauthorized!</p>
}

@code {
    [Parameter] public int? Id { get; set; }
    EmployeeDto employee { get; set; }

    protected override async Task OnInitializedAsync() {
        if (Id == null) {
            employee = new();
        }
        else {
            employee = await httpClient.GetFromJsonAsync<EmployeeDto>($"api/employee/{Id}");
        }

    }

    private void OnCancel() {
        navigationManager.NavigateTo("employees");
    }

    private async Task OnSave() {
        HttpResponseMessage? response = null;
        
        if (Id == null) {
            response = await httpClient.PostAsJsonAsync("api/employee", employee);

        }
        else {
            response = await httpClient.PutAsJsonAsync("api/employee", employee);

        }
        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("employees");
    }

}

