@page "/employeeList/edit/{Id:int?}"
@using CoffeeShop.Blazor.Shared.Employee;
@inject HttpClient httpClient
@using CoffeeShop.Model.Enums
@inject NavigationManager navigationManager


<h3>Employee Ed</h3>
@*</div>

}
     <div class="row">
        <div class="col-md-6">
            <label class="form-label">Name</label>
            <input class="form-control" @bind="@Employee.Name" />
        </div>
    <div class="col-md-6">
        <label class="form-label">Surname</label>
        <input class="form-control" @bind="@Employee.Surname" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Salary Per Month</label>
        <input class="form-control" @bind="@Employee.SalaryPerMonth" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Employee Type</label>
        <select class="form-control" @bind="@Employee.EmployeeType" />
        @foreach(var enumValue in Enum.GetValues<EmployeeType>())
        {
            <option value="@employeeType">@employeeType</option>
        }
        </select>
    </div>*@

@*@code {
    [Parameter] public int? Id {get;set;}
    EmployeeEditDto Employee { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            Employee = new();

        }
        else
        {
            Employee =await httpClient.GetFromJsonAsync<EmployeeEditDto>($"employee/{Id}");
        }
    }
    private void OnCancel()
    {
        navigationManager.NavigateTo("employeeList");
    }

    private async Task OnSave()
    {
        HttpResponseMessage? response = null;
        if (Id == null)
        {
            response = await httpClient.PostAsJsonAsync("employee", Employee);
        }
        else
        {
            response = await httpClient.PutAsJsonAsync("employee", Employee);
        }

        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("employeeList");
    }
*@
   
}
}
